*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --Verydarkblue-main: hsl(217, 54%, 11%);
    --verydarkblue-card: hsl(216, 50%, 16%);
    --verydarkblue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-small: 1.2rem;
    --font-medium: 1.4rem;
    --font-large: 1.6rem;
    --font-bigger: 1.8rem;
}
html{
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
    color: var(--white);
}
main{
    background-color: var(--Verydarkblue-main);
    height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    width: 300px;
    height: 500px;
    background-color: var(--verydarkblue-card);
    border-radius: 12px;
    display: grid;
    box-shadow: 2px 2px 30px 5px black;
}
.card{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px ;
}
.card_container-img{
    width: 100%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.card__img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}
.card__container-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(178, 100%, 50%, 0.5);
    display: grid;
    place-content: center;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
}
.card__hover-checkout{
   width: 50px;
   height: 50px;
   background-image: url("/asset/images/icon-view.svg");
}
.card_container-img:hover > .card__container-hover{
    opacity: 1;
    visibility: visible;
}
.card__description{
    margin-bottom: 20px;
}
.description__title{
    font-size: var(--font-bigger);
    margin-bottom: 20px;
    cursor: pointer;
}
.description__title:hover {
    color: var(--cyan);
}
.card__description p{
    font-size: var(--font-large);
    color: var(--soft-blue);
    font-weight: 400;
}
.card__quote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid  var(--verydarkblue-line);
}
.quote__leff, .quote__right{
    color: var(--cyan);
    font-size: var(--font-medium);
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
.quote__right{
    color: var(--soft-blue);
}
.quote__leff span, .quote__right span{
    background-image: url("/asset/images/icon-ethereum.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    
} 
.quote__right span{
    background-image: url("/asset/images/icon-clock.svg");
} 
.card__author{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.author__avatar{
    width: 40px;
    height: 40px;
    background-image: url("/asset/images/image-avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid  var(--white);
}
.author__description{
    font-size: var(--font-large);
    color: var(--soft-blue);
}
.author__description span{
    color: var(--white);
    cursor: pointer;
}
.author__description-name:hover{
    color: var(--cyan);
    cursor: pointer;
}
@media screen  and (min-width: 270px) and (max-width:600px){
    main{
        display: grid;
        place-items: center;
    }
    .container{
        width: 90%;
        height: auto;
    }
    .card{
        height: auto;
    }    
} 
